.site-header {
  font-family: cursive;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.navlink {
  text-decoration: none;
  color: black;
}

.navlink:hover {
  background-color: cyan;
}